.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    /* background-color: #646cff8e; */
    background-color: #023BC4;
  }
  
  .search-bar {
    display: flex;
    background-color: var(--mui-primary-400); 
    border-radius: 3px;
  }
  
  .search-input {
    margin-left: 8px;
    flex: 1;
  }
  
  .search-button {
    padding: 8px;
  }
  
  .icon-group {
    /* margin-left: 800px; */
    margin-left: auto;
    display: flex;
    /* justify-content: flex-end; */
    margin-right: 20px;
  }
  

  /* .btn-filled {
    background-color: #007bff;
    color: white;
  } */

  .icon:hover {
    color: #e6f0ff !important;
    background-color: #007bff !important;
    /* border: 2px solid #0056b3; */
  }

  .icon {
    color: #e6f0ff !important;
    /* background-color: #007bff !important; */
    /* border: 2px solid #0056b3; */
  }